body {
  background-color:#9BB7D4;
}

#frame {
  min-height: 90vh;
  margin: auto;
  align-self: center;
  background-color:#9BB7D4;
  align-content: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 80%
}
h1 {
  color: black;
  text-align: center;
}
p {
  color: black;
}

button {
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  width: 12em;
}
h2 {
  text-align: center;
}
#picture-group {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-content: center;
  text-align: center;
}

#button-group {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-content: center;
}

#picture-frame {
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  min-height: 500px;
  align-self: center;
  width: fit-content;
}

#comic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-self: center;
  padding: 10px;
  border-radius: 1px;
  border-style: double;
}

#transcript {
  margin: auto;
  border-radius: 2px;
  border-style: ridge;
  overflow-wrap: normal;
  max-width: 80%;
}
