body {
  background-color: powderblue;
}
h1 {
  color: #003da6;
  text-align: center;
}
p {
  color: white;
}

.picture-frame {
  min-width: 500px;
  min-height: 500px;
  border-radius: 1px;
  border-style: double;
  align-self: center;
}

.comic {
  width: fit-content;
}
